
.titlebar {
    background-color: #4e5050;
    height: 150px;
    font-family: 'Raleway', sans-serif;
}
.guestbar {
    background-color: #848484;
    height: 150px;
    color: #fff;
}
.navbarcus {
    background-color: #4e5050;
 color: #fff;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    padding: 15px;
}
.guest-img {
 height: 125px;
 width: 125px;
    margin-top: 15px;
}

.logoimg {
    height: 60px;
    width: 186px;
    float: right;
    margin-top: 43px;
}

.carbackground {
    background-color: #fff;
    border-top: #c0c0c0 2px solid;
    border-bottom: #c0c0c0 2px solid;
    padding: 15px;
    height: 370px;
}

.mainback {
    background-color: #fff;
    padding: 25px;
    margin-left: 150px;
padding-bottom:110px;
}
@media only screen and (max-width: 40em) {
    .carbackground {
        background-color: #fff;
        border-top: #c0c0c0 0px solid;
        border-bottom: #c0c0c0 0px solid;
        padding: 15px;
        height: 370px;
    }
    .mainback {
        background-color: #fff;
        padding: 25px;
        margin-left: 0px;
        padding-bottom:110px;
    }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */
